body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    background: url('../img/LOGIN/Design\ sem\ nome\ \(6\).png') center no-repeat;
}

.main-contato{
    margin: auto;
    width: 85%;

}

.main-contato h1{
    text-transform: uppercase;
    font-weight: lighter;
    color:#EEC591;
}

form{    
    margin:40px 0; 
    width: 40%;
    float: left;  
}

form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom:10px ;
    color: #EEC591;
}

/* primeiro criar como form input */
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #bbbbbb;
    color: #000000;
}

.input-senha{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #bbbbbb;
    
}


.checkbox{
    margin:20px 0;
}

.form-image{
    background: url('../img/LOGIN/hola\ \(4\).png') center no-repeat;
    float: right ;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}


.btngreen{
    background-color: #2F4F4F;
    border: none;
    width: 30%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    text-decoration:none;
    color: white;
}

.menu_login{
    background-color: #1e1e1e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#b0b0b0;
    padding-top: 20px;
    min-height: 110px;
    border-bottom:  #2F4F4F 5px solid;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}
.menu_login .titulo-menu{
    float: left;
    margin-bottom: 10px;
}

.menu_login .titulo-menu h1{
    margin: 0;
}

.menu_login a{
    color: #b0b0b0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.menu_login li{
    float: left;
    padding: 0 10px 0 10px;
    display: inline;
}


.menu_login .highlight, .menu .atual a{
    color:#EEC591;   
}

.menu_login a:hover{
    color:#EEC591;
    font-weight: bold;
}
